<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- aqui un parrafo -->
  <p>
    <h1>Curso de Ruby On Rails</h1>
  </p>
</body>
<!-- pie de pagina -->
<footer>
  <h5> @todos los derechos reservados </h5>
</footer>

</html>